@model List<Udemy.ConsumeAPI.ResponseModels.ProductResponseModel>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Web Api Consume</title>
</head>
<body>
    <p>MVC Works</p>

    <p>@ViewBag.ResponseMessage</p>

    <a asp-action="Create" asp-controller="Home">Yeni Ürün Ekle</a>
    <table>
        <tr>
            <th>Ürünün Adı</th>
            <th>Ürünün Fiyatı</th>
            <th>Ürünün Stoğu</th>
            <th></th>
        </tr>
        @{

            if (Model != null)
            {
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.Stock</td>
                        <td>
                            <a asp-action="Update" asp-controller="Home" asp-route-id="@product.Id">Güncelle</a>
                            <a asp-action="Remove" asp-controller="Home" asp-route-id="@product.Id">Sil</a>
                        </td>


                    </tr>
                }

            }

        }

    </table>
</body>
</html>